h1{
    background-color: lightblue;
}    
.about{

    font-size: 30px;
}
.image{
    padding-left: 1000px;
}
p{
    font-size: large;
    text-align: left;
}
.skills{
    font-size: 30px;
}
.lang{
    font-size: large;
}
.project{
    font-size: 30px;
}
.project1{
    font-size: large;
}
.c{
    
    margin-left: 670px;
}
h2{
    text-align: center;
}
.sm{
    margin-left: 910px;
    margin-top: -120px;
    
}
.logo {
    margin-left: 1100px;
    height: 30px;
    width: 30px;
    margin-top: 0px;

}
.logo1 {
    margin-left: 1200px;
    margin-top: -27px;
    height: 30px;
    width: 30px;
}
.logo2
{
    margin-left: 1300px;
    margin-top: -30px;
    height: 30px;
    width: 30px;
}
.link{
    margin-left: 1100px;
    padding-left: 28px;
}


